/* Importing Google Fonts */

/* Poppins Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Common Styles */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* ------------------ 
 Styling Header Part 
---------------------*/

header {
    width: 100%;
    height: 677px;
    background-color: #2D25A0;
    padding: 43px 140px 86px 156px;
    box-sizing: border-box;
}

.nav-container {
    height: 44px;
    width: 100%;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links .fa-bars {
    display: none;
}

.nav-links a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

/* Styling all anchor tags of left nav side except first one  */

.nav-links.left-side a:not(:first-child) {
    margin-left: 36px;
}

.nav-links.right-side a {
    height: 44px;
    width: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #E02C6D;
}

.nav-links.right-side a img {
    height: 24px;
    margin-right: 6px;
}

/* overview styles start */

.overview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 102px;
    align-items: center;
}

.overview-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overview-item:first-child {
    height: 230px;
    width: 485px;
}

.overview-title:first-child h1 {
    font-size: 64px;
    font-weight: 700;
    color: white;
    margin: 0;
    line-height: 80px;
}

.watch-live-btn {
    background-color: #E02C6D;
    color: white;
    display: inline-block;
    height: 44px;
    width: 168px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
    border: 0px;
    cursor: pointer;
    margin-top: 27px;
}

.fa-arrow-right {
    margin-left: 8px;
}

.overview-thumbnail img {
    width: 556px;
    height: 438px;
}

/* Header Styles End */

/* Header Transition  Start */

header:hover .overview-title span {
    display: inline-block;
    transform: rotateY(360deg);
    transition: transform 2s linear 0.2s;
}

header:hover .overview-item>.watch-live-btn {
    display: inline-block;
    transform: rotateY(360deg);
    transition: transform 2s linear 0.2s;
}

/* Header Transition  End */

/* Players Section Style Start*/

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    margin: 70px 210px 50px 180px;
}

.player {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    ;
    padding: 15px;
    height: 474px;
    width: 330px;
    box-sizing: border-box;
}

.player img {
    height: 256px;
    width: 300px;
}

.player-name {
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 0;
}

.player-details {
    margin-top: 10px;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
}

/* Players Section Styles End */

/* Optional Highlights Section Style Start */

.highlights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 115px;
    padding-left: 182px;
    padding-right: 156px;
    grid-column-gap: 66px;
    align-items: center;
}

.highlights-details {
    margin: 0;
    height: 309px;
    width: 469px;
}

.watch-live-btn:last-child {
    width: 172px;
    margin-top: 24px;
}

.highlights-details h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
}

.highlights-details p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 8px;
    margin-bottom: 0;
}

.highlights-thumbnail {
    height: 427px;
    width: 567px;
}

.highlights-thumbnail img {
    height: 100%;
    width: 100%;
}

/* Optional Highlights Section Style End */

/* Latest News Style Starts */

.latest-news {
    margin: 70px 210px 50px 180px;
}

.section-title {
    font-size: 28px;
    font-weight: bold;
}

hr {
    margin-bottom: 40px;
}

.all-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.news {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}

.news img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.news:hover img {
    transform: scale(1.1);
    transition: transform 0.6s;
}

.news .news-title {
    font-size: 1.2em;
    font-weight: 900;
    color: rgb(26, 31, 48);
}

.news .details-btn {
    text-decoration: none;
    text-align: center;
    background: linear-gradient(to right, #8d5167, #0e4211);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

.details-btn:hover {
    background: linear-gradient(to left, #8d5167, #0e4211);
}

/* Latest News Style Ends */

/* Subscribe Section Style Start */

.subscribe {
    padding: 10px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0;
}

.subscribe input[type='email'] {
    border: none;
    outline: none;
    display: inline-block;
    height: 25px;
    width: 20%;
    border-bottom: 3px dashed rgb(63, 43, 43);
    font-size: 1.03em;
}

.subscribe input[type='email']:hover {
    border-bottom: 3px solid rgb(63, 43, 43);
}

#subscribe-btn {
    margin-left: 20px;
    border: 2px solid rgb(75, 60, 60);
    height: 35px;
    text-align: center;
    color: rgb(26, 13, 13);
    cursor: pointer;
    border-radius: 5px;
}

#subscribe-btn:hover {
    background: linear-gradient(to right, #8d5167, #0e4211);
    color: white;
}

/* Subscribe Section Style End */

/* Footer Styles Starts*/

.footer-container {
    height: 213px;
    width: 483px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 63px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    grid-row-gap: 20px;
}

.logo {
    height: 110px;
    width: 484px;
}

.logo img {
    width: 100%;
}

.social-icons {
    height: 32px;
    width: 170px;
}

.social-icons>a img {
    height: 32px;
    width: 32px;
}

.copyright {
    height: 31px;
    width: 236px;
    margin: 0px;
}

.copyright p {
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    text-align: center;
}

/* Footer Styles End*/

/* **************
   Responsiveness
 **************** */

/* For Mobile Devices */

@media only screen and (max-width: 668px) {
    .nav-links.left-side a {
        display: none;
    }
    header {
        width: 100%;
        height: 695px;
        padding: 33px 66px 61px 16px;
        box-sizing: unset;
    }
    .overview {
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
        overflow-x: hidden;
    }
    .overview-title {
        height: 138px;
        width: 278px;
    }
    .overview-title h1 span {
        font-size: 36px;
        font-weight: 700;
        color: white;
        margin: 0;
    }
    .overview-item:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 350px;
    }
    .overview-title:first-child h1 {
        line-height: 50px;
    }
    .overview-item .watch-live-btn {
        margin-top: 30px;
    }
    .overview-item:last-child img {
        height: 260px;
        width: 329px;
    }
    .players {
        grid-template-columns: 1fr;
        margin: 47px 15px 60px;
        justify-items: center;
    }
    .highlights {
        display: grid;
        width: 320px;
        padding: 15px;
        margin-top: 60px;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    .highlights-details {
        width: 329px;
        height: 291px;
    }
    .highlights-details h1 {
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
    }
    .highlights-details p {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }
    .highlights-details h1+p {
        width: 329px;
    }
    .highlights-thumbnail {
        height: 248px;
        width: 328px;
    }
    .latest-news {
        margin: 10px;
    }
    .all-news {
        grid-template-columns: repeat(1, 1fr);
        width: 340px;
    }
    .subscribe .section-title {
        font-size: 1.5em;
    }
    .subscribe input[type="email"] {
        width: 70%;
    }
    .subscribe #subscribe-btn {
        margin-top: 20px;
        width: 90px;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
    }
    .footer-container .logo {
        width: 270px;
        height: 63px;
    }
}

/* Responsive for tablets */

@media only screen and (min-width:668px) and (max-width:992px) {
    .nav-container {
        width: 100%;
    }
    .nav-links.left-side a {
        display: inline-block;
        margin-left: 5px;
    }
    .nav-links.left-side a:not(:first-child) {
        margin-left: 15px;
    }
    header {
        width: 100%;
        height: 850px;
        padding: 20px;
        box-sizing: unset;
    }
    .overview, .highlights {
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
        overflow-x: hidden;
    }
    .overview-item:first-child {
        margin-top: 24px;
    }
    .overview-item:last-child {
        margin-top: 40px;
    }
    .players, .all-news {
        margin: 30px 5px;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .latest-news {
        margin: 20px;
    }
    .subscribe input[type="email"] {
        width: 50%;
    }
}